@charset "utf-8";
@import url("../../webfonts/Numans/stylesheet.css");

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
} .navbar {
}

* {
    margin: 0;
    padding: 0;
}
.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.div-align {

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.div-search-text {
	position: absolute;
	bottom: 70%;
	margin: auto;
	left: 45%;
	color: white;
}

.dark {
	color:#fefefe;
}


.show-old {
	filter: blur(1px);
	background-color: #00986d;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 2%;
}

.title{
	font-size:1.75rem
	
}

.show-current{
	background-color: #00da9d;
	margin-top: 0.5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 2%
	
}

.show-future {
	filter: blur(5px);
	background-color: #00ecaa;
	padding-top: 0.5%;
	margin-top: 0.7%;
	padding-left: 2%;
}

footer{
	background-color:#7f9298;
	color: #f5f7f6;
}



.show-past {
	filter: blur(1px);
	background-color: #00986d;
	padding-top: 0.5%;
	margin-top: 0.7%;
	padding-left: 2%;
}

.background-image {
  position: absolute;
  margin-top:2%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  display: block;
  background-image: url('https://e-cdns-images.dzcdn.net/images/cover/2e018122cb56986277102d2041a592c8/500x500-000000-80-0-0.jpg');
  width: 700px;
  height: 800px;

  filter: blur(11px);
}

/* thead{
	background-color:#db482d;
} */

/* tbody{
	background-color:#ff5a3c
} */

.current-play{
	text-align: center;
	margin-bottom: 1%;
	
}

.navbar-custom {
    background-color: #0d404e;
    color: #f5f7f6;
}

.current-boxes{
	height:185px;
	overflow:hidden;
}

.border_gradient 
{
    border: 8px solid #000;
    -moz-border-bottom-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
}

.side-shadow{
	-webkit-box-shadow: 0px 25px 0px 25px rgba(0,0,0,1);
	-moz-box-shadow: 0px 25px 0px 25px rgba(0,0,0,1);
	box-shadow: 0px 25px 0px 25px rgba(0,0,0,1);
}

/* unvisited link */
.dark-link:link {
	color: #fefefe;
}

/* visited link */
.dark-link:visited {
	color: #fefefe;
}

/* mouse over link */
.dark-link:hover {
	color: #fefefe;
}

/* selected link */
.dark-link:active {
	color: blue;
}

/* expanding input CSS only */
#SearchNav		{
	width:35%;
	-webkit-transition:width 0.3s ease-in-out;
}
#SearchNav:focus	{
	width:90%;
	-webkit-transition:width 0.5s ease-in-out;
}


	