@charset "utf-8";

input[type="search"] {
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px, 50px;
	background-repeat: no-repeat;
	padding-left: 40px;
	margin-bottom: 1%;
	/* padding-bottom: 5%; */
	/* padding-top: 5%; */
	margin-left: 1.5%;
}
.link{
	color: #000000;
	
}

